.ot-loader {
    display: inline-block;
    position: relative;
    margin: 1.5em 0;
    width: 64px;
    height: 64px;
}
.ot-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--primary-color,teal);
    border-radius: 50%;
    animation: ot-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color,teal) transparent transparent transparent;
}

.ot-loader.thin div{
    border-width: 3px;
    width: 42.5px;
    height: 42.5px;
}

.ot-loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.ot-loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.ot-loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes ot-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}