.ot-post-list-wrapper{
    width: 100%;
    max-width: 660px;
    margin: auto;
}
.ot-post-list{
    width: 100%;
    margin: 2em 0;
}

.ot-post-list .ot-post-list-item:not(:last-child){
    margin-bottom: 1em;
}

.ot-post-item{
    margin-bottom: 1.5em;
}

.ot-new-post ~ .ot-btn.fab{
    bottom: 80px;
}