.ot-popups-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup {
    position: relative;
    background-color: #323232;
    padding: 0.8em 1em;
    vertical-align: middle;
    color: #ddd;
    box-shadow: 0 7px 18px rgba(0,0,0,0.2);
    border-radius: 3px;
    margin: 0.6em 0;
    pointer-events: auto;
    max-width: 400px;
    line-height: 1.5em;
  }

  .popup strong{
      color: #fff;
  }
  
  .show {
    animation: show 0.5s;
  }
  
  @keyframes show {
    from { transform: translateY(-30%) }
    to { transform: translateY(0) }
  }