.ot-menu{
    position: relative;
}

.ot-menu-options{
    position: absolute;
    right: 1em;
    top: 1em;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
    transition: all 0.1s ease-out;
}

.ot-menu-options.base-left{
    right: auto;
    left: 1em;
}

.ot-menu-opener:not(:focus) ~ .ot-menu-options:not(:hover){
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9) translate3d(5%, -5%, 0);
}

.ot-menu-options .ot-btn{
    padding: 1em 1.5em;
    width: 100%;
    justify-content: flex-start;
}

.ot-menu-options .ot-btn:hover{
    background: #f5f5f5;
}

.ot-menu-opener{
    margin-right: 0;
    transition: 0.3s ease-out;
}

.ot-menu-opener-input:checked + label{
    background: #f0f0f0;
}

.ot-menu-opener svg{
    fill: #656565;
}