.ot-post-commenter{
    padding: 0.5em 1.2em;
    padding-left: 0.9em;
    border-top: 1px solid #f1f1f1;
}

.ot-post-commenter .ot-dp{
    margin-right: 0.7em;
}

.ot-post-commenter input,
.ot-post-commenter .input{
    font-size: 1em;
    /* padding: 0.3em 0; */
    border: none;
    outline: none;
    position: relative;
    line-height: 1.4em;
    resize: none;
}

.ot-post-commenter .input:empty::before{
    content: 'Write a comment';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ot-post-commenter input::placeholder,
.ot-post-commenter .input::before{
    color: #aaa;
}

.ot-post-commenter-actions{
    position: relative;
    margin-right: -10px;
}

.ot-post-commenter .ot-btn.action{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

.ot-post-commenter-actions .ot-btn.flat,
.ot-post-commenter-actions .ot-btn.action{
    outline: none;
}

.ot-post-commenter-actions.can-like .ot-btn.flat,
.ot-post-commenter-actions:not(.can-like) .ot-btn.action{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 500px){
    .ot-post-commenter {
        padding: 0.5em 1.1em;
        padding-left: 0.7em;
    }
}