html{
    --vh: 100vh;
}

html, body{
    overflow: hidden;
}

body {
    /* --primary-color: #009688; */
    --primary-color: #037261;
    --accent-color: #ffa600;
    --accent-dark-color: #ff5604;
    --main-color: #e65307;
    --main-black: #231f21;

    height: 100vh;
}

.ot-dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
    flex-shrink: 0;
}

.ot-dp.small{
    width: 30px;
    height: 30px;
}

.ot-dp img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}


.ot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #202129;
    background-color: #f2f2f2;
    border: 0 none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    appearance: none;
    box-shadow: 2px 5px 10px var(--color-smoke);
}

.ot-btn:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
}

.ot-btn[disabled],
.ot-btn.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.ot-btn:active {
    background-color: #d5d6d6;
    opacity: 1;
}

.ot-btn.-dark {
    color: var(--color-snow);
    background: var(--color-dark);
}
.ot-btn.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
}

.ot-btn.primary:not(.flat) {
    color: #fff;
    background: var(--primary-color);
}

.ot-btn.flat{
    background: transparent;
    box-shadow: none;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.ot-btn.action{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    padding: 0;
    outline: none;
}

.ot-btn.action svg{
    width: 20px;
    height: 20px;
}

.ot-btn.fab{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    box-shadow: none;
    padding: 0;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 50;

    transition: transform 0.35s ease-out;
}

.ot-btn.fab svg{
    width: 24px;
    height: 24px;
    fill: #fff;
}

.ot-btn.flat.primary{
    color: var(--primary-color);
}

.ot-btn.rounded{
    border-radius: 50px;
    padding: 9px 30px;
    min-width: 120px;
    border: 3px solid transparent;
}

.ot-btn.rounded.primary{
    border-color: #056355;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px) {
    .for-mob {
        display: none !important;
    }
}

@media screen and (max-width: 520px) {
    .for-lg,
    .for-md {
        display: none !important;
    }
}

@media screen and (max-width: 370px){
    
}