html, body{
    overflow: hidden;
}

body {
    /* --primary-color: #009688; */
    --primary-color: #00a79d;
    --accent-color: #ffa600;
    --accent-dark-color: #ff5604;
    --main-color: #e65307;
    --main-black: #231f21;

    height: 100vh;
}

.ot-dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.ot-dp.small{
    width: 30px;
    height: 30px;
}

.ot-dp img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}


.ot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #202129;
    background-color: #f2f2f2;
    border: 0 none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    appearance: none;
    box-shadow: 2px 5px 10px var(--color-smoke);
}

.ot-btn:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
}

.ot-btn:active {
    background-color: #d5d6d6;
    opacity: 1;
}

.ot-btn.-dark {
    color: var(--color-snow);
    background: var(--color-dark);
}
.ot-btn.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
}

.ot-btn.primary {
    color: #fff;
    background: var(--primary-color);
}

.ot-btn.flat{
    background: transprent;
    box-shadow: none;
    padding: 8px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.ot-btn.flat.primary{
    color: var(--primary-color);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px) {
    .for-mob {
        display: none !important;
    }
}

@media screen and (max-width: 520px) {
    .for-lg,
    .for-md {
        display: none !important;
    }
}

@media screen and (max-width: 370px){
    
}