.ot-discover{
    
}

#ot-discover-search{
    position: relative;
    margin-left: 1em;
    margin-right: 0.6em;
}

#ot-discover-search::before{
    /* content: ''; */
    position: absolute;
    left: -0.5em;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 45%;
    border-left: 1px solid #aaa;
}

#ot-discover-search input{
    width: 100%;
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 0.8em 1.3em;
    outline: none;
    border-radius: 40px;
    background: #f0f0f0;
}

.ot-person-item{
    padding: 1em 1.2em;
}

.ot-person-item .ot-dp{
    width: 50px;
    height: 50px;
    margin-right: 1.2em;
}

.ot-person-item span{
    text-transform: capitalize;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}