.ot-discover{
    
}

#ot-discover-search{
    position: relative;
    margin-left: 1em;
    margin-right: 0.6em;
}

#ot-discover-search input{
    width: 100%;
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 0.8em 1.3em;
    outline: none;
    border-radius: 40px;
    background: #f0f0f0;
}

.ot-person-item{
    padding: 1em 1.2em;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    position: relative;
}

.ot-person-item .ot-dp{
    width: 70px;
    height: 70px;
    margin-right: 0.9em;
    border: 1px solid #eee;
}

.ot-person-item span{
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    display: block;
    margin-bottom: 0.5em;
}

.ot-person-item button{
    padding: 8px 24px !important;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    margin-right: 0.5em;
    min-width: 125px !important;
    border-width: 2px !important;
    background: #047362 !important;
    color: #fff;
}

.ot-person-item button:last-child{
    background: transparent !important;
    border-color: #aaa;
    color: #000;
}

.ot-person-item > div:last-child{
    flex: 1;
}

#peopleList.for-large{
    max-width: 1000px;
    margin: 2em auto;
    display: grid;
    grid-gap: 1.3em;
    grid-template-columns: repeat(3, 1fr);
}

.ot-person-card{
    background: #fff;
    padding: 1em;
    border-radius: 6px;
    min-height: 270px;
}

.ot-person-card .ot-dp{
    margin: 1em auto;
    margin-top: 0.3em;
    width: 75px;
    height: 75px;
    border: 1px solid #eee;
}

.ot-person-card h3{
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.5em;
}

.ot-person-card .user-stats{
    margin-bottom: 0.6em;
    padding: 0.4em 0;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.ot-person-card .user-stat{
    text-align: center;
    padding: 0.15em 0.75em;
    padding-bottom: 0.41em;
    width: 33.333%;
    border: solid #eee;
    border-width: 1px 1px 1px 0;
}

.ot-person-card .user-stat:last-child{
    border-right-width: 0;
}

.ot-person-card .user-stat .number{
    font-size: 1.35em;
}

.ot-person-card .user-stat .label{
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 0.85em;
    color: #555;
}

.ot-person-card button{
    margin: 0 auto;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 540px){
    .discover-page{
        background: #fff !important;
    }
}

@media screen and (max-width: 380px){
    .ot-person-item{
        padding: 0.8em;
        margin-bottom: 0em;
    }
    
    .ot-person-item:not(:last-child):after{
        display: none;
    }
    
    .ot-person-item .ot-dp{
        width: 55px;
        height: 55px;
        margin-right: 0.9em;
        border: 1px solid #eee;
    }
    
    .ot-person-item span{
        text-transform: capitalize;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        display: block;
        margin-bottom: 0.5em;
    }
    
    .ot-person-item button{
        padding: 6px 18px !important;
        min-width: 0 !important;
    }
}