.ot-header{
    position: fixed;
    top: 0;
    width: 100vw;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    z-index: 5;
    padding: 0 1.5em;
}

.ot-header, 
.ot-header .top-bar{
    min-height: 60px;
}

.ot-header .top-bar{
    width: 100%;
}

.ot-header .ot-logo{
    height: 40px;
}

.ot-header-title{
    font-size: 1.4em;
    font-size: 25px;
    font-weight: bold;
}

#ot-header-tabs{
    width: 100%;
    padding: 0.8em 0;
    padding: 0.3em 0;
    padding-bottom: 0.6em;
    padding-left: 1em;
    border-bottom: 1px solid #ddd;
}

#ot-header-tabs:not(.center-center){
    padding-left: 1.4em;
}

#ot-header-tabs .ot-btn.flat{
    font-size: 0.95em;
    text-align: center;
    min-width: 0;
    padding: 8px 0;
    margin-right: 1.5em;
    color: #999;
    letter-spacing: 0.1em;
}

#ot-header-tabs .ot-btn.flat.active{
    color: #333
}

#ot-header-tabs .separator{
    width: 6px;
    height: 6px;
    background: #aaa;
    border-radius: 50%;
    margin-right: 1.5em;
}

.ot-auth-user{
    min-width: 180px;
}

.ot-auth-user svg{
    margin-left: auto;
}

.ot-auth-user > p{
    text-transform: capitalize;
}


@media screen and (min-width: 541px){
    .ot-header > .ot-dp{
        display: none;
    }
}

@media screen and (max-width: 540px){
    .ot-header{
        padding: 0 0.5em;
    }

    .ot-auth-user{
        display: none;
    }

    .ot-header.no-border{
        padding: 0;
        box-shadow: none;
    }

    .ot-header.no-border, 
    .ot-header.no-border .top-bar{
        padding: 0;
    }

    .ot-header.no-border .ot-header-title{
        padding-left: 0.8em;
    }
}