.ot-new-post{
    position: relative;
    max-width: 660px;
    margin: 2em auto;
    margin-bottom: -0.5em;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.ot-new-post:before{
    content: 'POSTING...';
    color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 0.85em;
    letter-spacing: 0.05em;
}

.ot-new-post.saving:before{
    content: 'SAVING...';
}

.ot-new-post:not(.posting):not(.saving):before{
    opacity: 0;
    pointer-events: none;
}

.ot-btn{
    margin: 0;
    outline: none;
}

.ot-new-post-buttons{
    padding: 0 1em;
    padding-bottom: 0.5em;
}

.ot-new-post-buttons .rounded{
    padding: 0 1em;
    background-color: #eeeeee;
    padding: 4px 10px;
    font-size: 0.8em;
}

.ot-new-post.dragging{
    /* min-height: 300px; */
    pointer-events: none;
}

.ot-new-post::after{
    content: 'DROP FILES HERE';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.75);
    border: 4px dashed #555;
    z-index: 1;
    transition: opacity 0.25s ease-out;
}

.ot-new-post:not(.dragging)::after{
    opacity: 0;
    pointer-events: none;
}

.ot-new-post-wrapper{
    padding: 0.7em;
    position: relative;
}

.ot-new-post-text{
    width: 100%;
    padding: 0.5em;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.1em;
    resize: none !important;
    background: transparent;
    border: none;
    outline: none;
}

.ot-new-post-images{
    padding: 0.3em;
}

.ot-new-post-media{
    overflow-x: auto;
}

.ot-new-post.dragging .ot-new-post-media{
    min-height: 135px;
}

.ot-new-post-image{
    flex-shrink: 0;
    background-color: #ccd6dd;
    border: 1px solid #e6ecf0;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), 0 1px 0 rgba(255,255,255,0.5);
    width: 130px;
    height: 130px;
    position: relative;
    margin: 0.3em;
}

.ot-new-post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ot-new-post-image:after,
.ot-new-post-video:after{
    content: 'LOADING...';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 0.85em;
    letter-spacing: 0.05em;
}

.ot-new-post-image:not(.loading):not(.is-temp):after,
.ot-new-post-video:not(.loading):not(.is-temp):after{
    opacity: 0;
    pointer-events: none;
}

.ot-new-post-image.is-temp:not(.loading):after,
.ot-new-post-video.is-temp:not(.loading):after{
    content: 'UPLOADING...';
    color: var(--primary-color);
}

.ot-new-post-image .ot-btn.action,
.ot-new-post-video .ot-btn.action{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    background: #000;
    width: 22px;
    height: 22px;
}

.ot-new-post-video .ot-btn.action{
    width: 35px;
    height: 35px;
}

.ot-new-post-image .ot-btn.action svg{
    fill: #fff;
    width: 14px;
    height: 14px;
}

.ot-new-post-video .ot-btn.action svg{
    fill: #fff;
    width: 18px;
    height: 18px;
}

.ot-post-list-wrapper:not(.scrolled) .ot-post-creator-fab{
    /* transform: scale(0); */
    /* pointer-events: none; */
}

#newPostCamera{
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: black;
    z-index: 1000
}

#newPostCamera > div:not(#captureContainer){
    position: relative;
    height: calc(100 * var(--vh));
    display: flex;
    flex-direction: column-reverse
}

#newPostCamera button{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#newPostCamera #captureContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: rgba(0,0,0,0.7);
}

#newPostCamera #captureButton{
    background-color: #fff;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    color: #000;
    margin-left: -2em
}

#newPostCamera #captureImage,
#newPostCamera video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

#newPostCamera #captureImage.hidden{
    opacity: 0;
    pointer-events: none;
}

#newPostCamera > #captureContainer{
    margin-top: 0;
    position: fixed;
    bottom: 0;
}

#newPostCamera .ot-btn{
    color: #fff;
}

#newPostCamera .ot-btn.action{
    width: 34px;
    height: 34px;
}

#newPostCamera .ot-btn.action svg{
    width: 30px;
    height: 30px;
    fill: #fff;
}

@media all and (min-width: 541px){
    .ot-post-creator-fab{
        display: none !important;
    }
}

@media screen and (max-width: 540px){
    .ot-new-post-buttons{
        display: none;
    }

    .ot-new-post-wrapper {
        padding: 0.7em 0.5em;
        position: relative;
    }
    .ot-new-post {
        margin: 1em auto;
        margin-bottom: -1em;
    }
}