.ot-mobile-nav{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background: #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.16);
    z-index: 5;
    /* padding: 0 1.5em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ot-mobile-nav .ot-btn{
    color: #5E5A56;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.ot-mobile-nav .ot-btn.active{
    color: #047362;
}

.ot-mobile-nav .ot-btn svg{
    width:24px;
    height:24px;
    stroke: #7E7A76;
    fill:none;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    margin-bottom: 0.2em;
}

.ot-mobile-nav .ot-btn.active svg{
    stroke: #047362;
}

@media screen and (min-width: 541px){
    .ot-mobile-nav{
        display: none;
    }
}

@media screen and (max-width: 350px){
    .ot-mobile-nav{
        height: 50px;
    }
    
    .ot-mobile-nav .ot-btn{
        font-size: 11px;
    }
    
    .ot-mobile-nav .ot-btn svg{
        width: 19px;
        height: 19px;
    }

    .ot-mobile-nav .ot-btn span{
        /* display: none; */
    }
}