.ot-woza{
    
}

.ot-btn.mode-switch-btn{
    font-size: 1.1em;
    letter-spacing: 0.05em;
    color: #696666;
    margin-right: 0.7em;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 541px){
    .woza-page .ot-woza-list-wrapper{
        margin: 1em auto;
    }
}

@media screen and (max-width: 540px){
    .woza-page .ot-woza-list-wrapper{
        margin: 0 auto;
    }
    
    .woza-page{
        background: #fff !important;
    }
}