.ot-user-profile-title .ot-dp{
    width: 120px;
    height: 120px;
    margin-bottom: 1em;
}

.ot-user-profile-title > h5{
    font-size: 1.4em;
}

.ot-user-profile-title .ot-loader{
    margin-top: 1.5em;
}

.ot-user-profile-title .user-stats{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding: 0.4em 0;
    width: 100%;
}

.ot-user-profile-title .user-stat{
    text-align: center;
    padding: 0 0.75em;
    flex: 1;
    flex-shrink: 0;
}

.ot-user-profile-title .user-stat .number{
    font-size: 1.35em;
    margin-bottom: 0.35em;
}

.ot-user-profile-title .user-stat .label{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

.ot-user-profile-title .ot-btn{
    font-size: 1em;
    min-width: 120px;
    color: #444;
}

.logout-btn{
    margin-top: 1.1em;
}

.ot-bottom-sheet .logout-btn{
    margin-top: 0;
    position: absolute;
    top: -0.5em;
    right: -0.8em;
    min-width: 0 !important;
    font-size: 0.85em !important;
    z-index: 1;
}

.ot-bottom-sheet.fixed .logout-btn{
    top: -1.2em;
    right: -1.5em;
}

.ot-bottom-sheet .ot-post-list-wrapper{
    margin: 0 -2em;
    margin-top: 1.5em;
    background: #e9e9e9;
}