.ot-user-profile-title .ot-dp{
    width: 120px;
    height: 120px;
    margin-bottom: 1em;
}

.ot-user-profile-title > h5{
    font-size: 1.4em;
}

.ot-user-profile-title .ot-loader{
    margin-top: 1.5em;
}

.ot-user-profile-title .user-stats{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding: 0.4em 0;
    width: 100%;
}

.ot-user-profile-title .user-stat{
    text-align: center;
    padding: 0 0.75em;
    flex: 1;
    flex-shrink: 0;
}

.ot-user-profile-title .user-stat .number{
    font-size: 1.35em;
    margin-bottom: 0.35em;
}

.ot-user-profile-title .user-stat .label{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

.ot-user-profile-title .ot-btn{
    font-size: 1em;
    min-width: 120px;
    color: #444;
}

.ot-bottom-sheet .ot-post-list{
    margin: 0 -2em;
    margin-top: 1.5em;
}