.ot-post-item{
    background: #fff;
    min-height: 80px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.ot-post-item-title{
    padding: 0.5em 1em;
    padding-bottom: 0.5em;
}

.ot-post-item-title .ot-dp{
    margin-right: 0.8em;
}

.ot-post-item-title .ot-post-item-owner{
    font-weight: bold;
}

.ot-post-item-title .ot-btn{
    margin-left: 0.5em;
}

.ot-post-item-date{
    font-size: 0.85em;
    color: #555;
}

.ot-post-item-content{
    margin: 0 1.5em;
    margin-bottom: 1.5em;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}