.ot-post-item{
    background: #fff;
    min-height: 80px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.ot-post-item-title{
    padding: 0.5em 1em;
    margin-top: 0.5em;
}

.ot-post-item-title .ot-dp{
    margin-right: 0.8em;
}

.ot-post-item-title .ot-post-item-owner{
    font-weight: bold;
    display: block;
    margin-bottom: 0.06em;
    text-transform: capitalize;
}

.ot-post-item-title .ot-follow-btn{
    margin-left: 0.9em;
}

.ot-post-item-date{
    font-size: 0.85em;
    color: #555;
}

.ot-post-item-content{
    margin: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}

.ot-post-options-btn{
    margin-right: 0;
    transition: 0.3s ease-out;
}

.ot-post-options-btn svg{
    fill: #656565;
}

.ot-post-item:not(:hover) .ot-post-options-btn{
    opacity: 0;
    transition: none;
}

.ot-post-reactions{
    padding: 0.5em 1.2em;
    margin-bottom: 0.7em;
    display: flex;
    align-items: center;
    color: #5a5a5a;
}

.ot-post-item-content + .ot-post-reactions{
    margin-top: -0.5em;
}

.ot-post-media + .ot-post-reactions{
    justify-content: center;
}

.ot-post-reactions small.can-click{
    cursor: pointer;
}

.ot-post-reactions small.can-click:hover{
    text-decoration: underline;
    text-decoration-color: #a0a0a0;
}

.ot-post-reactions small{
    word-spacing: 0.2em;
    font-size: 0.8em;
    /* font-weight: 100; */
    display: inline-block;
}

.ot-post-reactions span{
    height: 12px;
    width: 1px;
    background: #ccc;
    display: inline-block;
    margin: 0 0.8em;
    margin-bottom: -0.065em;
}

.ot-post-reactions span:last-child{
    margin-right: 0;
}